<!DOCTYPE html>
<html>
    <head>
        <title>可达物流管理系统</title>
    </head>
    <body>
        <h1>创建快递单</h1>
        <form action="/create_order/" method="post">
            {% csrf_token %}
            收件人姓名: <input type="text" name="receiver_name"><br>
            收件人地址: <input type="text" name="receiver_address"><br>
            收件人城市: <input type="text" name="receiver_city"><br>
            收件人省份: <input type="text" name="receiver_province"><br>
            收件人国家: <input type="text" name="receiver_country"><br>
            收件人邮编: <input type="text" name="receiver_zip"><br>
            收件人联系方式: <input type="text" name="receiver_contact"><br>

            寄件人姓名: <input type="text" name="sender_name"><br>
            寄件人地址: <input type="text" name="sender_address"><br>
            寄件人城市: <input type="text" name="sender_city"><br>
            寄件人省份: <input type="text" name="sender_province"><br>
            寄件人国家: <input type="text" name="sender_country"><br>
            寄件人邮编: <input type="text" name="sender_zip"><br>
            寄件人联系方式: <input type="text" name="sender_contact"><br>

            重量: <input type="text" name="package_weight"><br>
            当前状态: <input type="text" name="package_current_status"><br>
            现在地点: <input type="text" name="package_current_location"><br>

            <input type="submit" value="提交">
        </form>    
    </body>
</html>
